<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workoutplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkoutPlanner">
        <activity
            android:name=".AdminViewWorkouts"
            android:exported="true" />
        <activity
            android:name=".AdminViewUsers"
            android:exported="true" />
        <activity
            android:name=".AdminLandingPage"
            android:exported="true" />
        <activity
            android:name=".SavedWorkouts"
            android:exported="true" />
        <activity
            android:name=".SearchWorkouts"
            android:exported="true" />
        <activity
            android:name=".ViewProfile"
            android:exported="true" />
        <activity
            android:name=".LandingPage"
            android:exported="true" />
        <activity
            android:name=".CreateAccount"
            android:exported="true" />
        <activity
            android:name=".LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>